* {
    font-family: "Monserrat";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #ffffff;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff; 
    font-size: 1rem; 
}

a:hover {
    color: orange; 
}


/*Aquí empiezan los estilos de la barra de navegación*/
header {
    width: 100%;
    position: relative;
}

.navbar {
    width: 100%;
    height: 60px;
    margin: 0 auto; 
    display: flex;
    align-items: center;
    /*Distribución de los elementos en el eje horizontal*/
    justify-content:space-around;
    background-color: #bfb9b6;
}

.navbar .logo a {
    font-size: 1.5rem; 
    font-weight: bold;
}

.navbar .links {
    display: flex; 
    gap: 2rem; 
}

.navbar .toggle_btn {
    color: #ffffff;
    font-size: 24px; 
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: #ca403f;
    color: #ffffff;
    padding: 0.5rem 1rem; 
    border: none; 
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer; 
    transition: scale 0.2 ease; 
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: 0.95; 
}

/*Responsive barra de navegación*/
@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none; 
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

/*Dropdown menu*/
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2 rem;
    top: 60px; 
    height: 0;
    width: 300px; 
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px; 
    overflow: hidden;
    transition: heigth 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex; 
    justify-content: center;
}

/*Responsive dropdown menu*/
@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem; 
        width: unset;
    }
}
/*Aquí finalizan los estilos de la barra de navegación*/

/*Aquí comienzan los estilos del banner*/
.wrap-banner-carta {
    width: 100%;
    height: 300px;
    position: relative;
    justify-content: center; /* Centrar horizontalmente */
 }
 
 .banner-carta { 
     height: 100%;
 }
 
 .banner-carta img {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
 
 .wrap-banner-carta h1 {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%); 
     color: #fff; 
     font-size: 2rem; 
     font-weight: bold;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
     text-align: center; 
     border-radius: 2px;
     padding: 4px;
     background-color: #edf7ed23;
     transition: left 0.5s ease, top 0.5s ease;
 }
 
 .wrap-banner-carta:hover h1 {
     top: 50%; 
 }

/*Aquí terminan los estilos del banner*/

/*Aquí comienzan los estilos de los botones*/
button {
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 16px*20;
    padding: 16px;
    background-color: #ca403f;
}


button {
    /*color: #6B6359;*/
    color: #ffffff; 
    font-weight: bold;
    box-shadow: -5px -5px 20px #ffffff5d, 5px 5px 20px #ccc6be24;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    color: #fe7c04;

}
  
/*Aquí terminan los estilos de los botones*/

/*Aquí comienzan los estilos del menú*/
main.carta{
    margin-left: 5px; /*Establecemos los margenes*/
    margin-right: 5px;
  }
  
  h1{
    text-align: center; /*Definimos los titulos*/
    font-size: 44px;
  }
  
  .wrap{
    max-width: 1200px;
    margin: 0 auto; 
    padding: 20px;

  }
  
  .colum-2.carta{
    display: block;
    grid-template-columns: repeat(2,1fr);
    column-gap: 1rem;
    /* row-gap: 1rem; */
    flex-wrap: wrap;
  }
  
  .plato-carta{
    display: flex;
    align-items: center;
    border: 1px solid #f5f2f2; 
    border-radius: 6px;
    background-color: #ffdbdb;
  }
  
  .Plato-pieza{
    font-weight: bold;
  }
  
  .img-plato-carta{
    display: flex; 
    flex-basis: 25%;
    justify-content: center;
    max-width: 100%;
    height: auto;
    background-color:#fde5e5;
  }

  .img-plato-carta:hover {
    transform:scale(2.20)
  }
   
  .img-plato-carta img{
    max-width: 100;
    max-height: 75px;
  }

  .title-plato-carta{
    border: 1px solid #ffdbdb;
    border-bottom: none;
    border-top: none;
    flex-basis: 60%;
    padding: 0 1rem;
  }
  
  .precio-plato-carta{
    display: flex; 
    flex-basis: 15%;
    justify-content: center;
    font-weight: bold;
  }
  
  /*Responsive para la carta*/ 
  
  /*Medida para Smarthphone, creamos 3 medidas, para teléfono, tablets y escritorio*/
  @media screen and (min-width: 200px){
    .colum-2.carta{
      grid-template-columns: repeat(1,1fr);
    }
  }
  
  @media screen and (min-width: 767px){
    .colum-2.carta{
      grid-template-columns: repeat(1,1fr);
    }
  
    main.carta{
      margin-left: 5px;
      margin-right: 5px;
    }
  }
  
/*Aquí finalizan los estilos del menú*/

/*Aquí comienzan los estilos del footer*/
/*Footer*/
footer {
    display: flex;
    justify-content: center;
    margin-top: auto; 
    width: 100%;
    background-color: #ffffff;
    color: #131814;
}

footer ul {
    padding: 0; 
}

footer li {  
    list-style: none;
}

.wrap-footer { /*Aquí ponemos la distribución de columnas*/
    display: grid;
    grid-template-columns: 30% 15% 
    15% 20%;
    justify-content: space-between;
    column-gap: 6%;
    padding: 1rem;
    margin: 2rem auto; 
    max-width: 1200px;
    margin-top: auto; 
}

.element-footer h5 {
    margin: 1rem 0;
}

h3 {
    color: #ca403f;
}

h5 {
    color: #ca403f;
}

.text-element-footer li { 
    line-height: 2;  
}

.text-element-footer li a { 
    color: #131814;
    list-style: none;
    text-decoration: none;
}

.social-element-footer a { /*Estilos de iconos para reder sociales*/
    display: inline-block; 
    min-height: 40px;
    width: 40px; 
    margin: 2px;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center; 
    line-height: 40px;
    border-radius: 50%;
    color: #ca403f;
}

.social-element-footer a:hover { /*Hoover para redes*/
    background-color: #0e01028a;
}

.footer-creds {
    display:flex;
    justify-content: space-between; 
    padding: 0.1rem;
    color: #ca403f;
    font-size: .9rem;
    max-width: 1200px;
    margin: 0 auto;
}

.legal-creds ul {
    display: flex;
    flex-flow: row wrap;
}

.legal-creds ul li {
    padding-right: 1rem;
}


.legal-creds li a {
    list-style: none;
    text-decoration: none;
    color: #ca403f;
    font-size: .9rem;
    margin-right: .5rem;
}

/*Modificaciones del span en el apartado "Sobre nosostros*/

.texto {
    font-weight: 300 ;
}

.Bienvenido {
    font-weight: 600;
    color: #ca403f;
}

/*Responsive Footer*/

/*Medida para Smarthphones*/
@media screen and (max-width: 767px) { /*Se muestran dos columnas si la pantalla es inferior a 768px*/
    .wrap-footer{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:480px) { /*Se muestra 1 columna*/
    .wrap-footer{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:320px) { /*Se muestran los datos en forma de columna*/
    .footer-creds{
        flex-flow: column;
    }
}

@media screen and (max-width: 767px) {
    h1{
        font-size: 32px;
    }
}
/*Aquí finalizan los estilos del footer*/
